.header{
    background-image: url("../images/background2.jpg");
    background-size: cover;

}

.info{
    background-color: rgba(0, 0, 0, 0.4)
}

.project-image{
    height: 250px;
}

.carousel-item-content {
    display: flex;
    justify-content: center;
}
